.message {
    position: fixed;
    bottom: 5vh;
    left: -100vw;
    width: 100%;
    z-index: 1001;
    transition:
        left 1s ease-in-out,
        visibility 1s ease-in-out;
}

.message-container {
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    height: 50px;
    width: fit-content;
    max-width: 500px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.message-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message.open {
    left: 5vw;
    visibility: visible;
}
