header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 998;
}

header ~ div {
	margin-top: 95px;
}

nav {
	background-color: var(--navbar-background-color);
	border-radius: 0 0 10px 10px;
	color: white;
	transition: border-radius 0.5s ease-in-out;
}

nav.active {
	border-radius: 0;
}

nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2.5rem;
	height: 95px;
	max-height: 95px;
}

.logo img {
	width: 150px;
	height: 95px;
}

@media screen and (min-width: 576px) {
	nav .container {
		padding: 0 5rem;
	}
}

@media screen and (min-width: 992px) {
	header ~ div {
		margin-top: 136px;
	}

	.options_icon {
		display: none;
	}

	nav .container {
		padding: 0 20vw;
		justify-content: space-between;
	}
}
