.anime .anime__title {
	text-align: center;
	padding: 2.5rem 0;
}

.anime .anime__cover {
	text-align: center;
	padding: 0 0 2rem 0;
}

.anime .anime__buttons {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 4rem;
}

.anime .anime__buttons button {
	padding: 1rem 5rem;
	font-weight: 700;
}

.anime .anime__buttons button.favorite {
	color: rgb(133, 133, 133);
}

.anime .anime__buttons button.favorite.active {
	color: rgb(242, 110, 247);
}

.anime .anime__buttons button.add {
	color: rgb(72, 132, 245);
	border: 1px solid rgb(72, 132, 245);
}

.anime .info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.anime .info__title {
	text-align: center;
	background-color: black;
	padding: 1rem;
}

.info .info__container {
	border-radius: 0 0 8px 8px;
	background-color: var(--body-secondary);
	display: flex;
	flex-direction: column;
	width: 350px;
	max-width: 350px;
}

.info .info__container .info__title {
	width: 100%;
}

.info .info__container .information {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.info .info__container .information:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

@media screen and (min-width: 768px) {
	.anime {
		padding: 0 10vw;
	}

	.anime__container_image_buttons_info {
		display: flex;
		justify-content: center;
		gap: 10vw;
		align-items: center;
		margin-top: 3rem;
	}

	.anime .info {
		width: fit-content;
	}

	.anime .info__title {
		width: fit-content;
	}

	.info .info__container {
		width: fit-content;
	}
}
