.search .header {
	padding: 2rem;
	display: flex;
	justify-content: center;
}

.search .header .header_container {
	width: 100%;
}

.search .header h1 {
	margin-left: 1rem;
	display: flex;
	gap: 1rem;
	margin-bottom: 0.5rem;
}

.search .header .header_container .form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.search .header .header_container .form input {
	padding: 1rem;
	border-radius: 10px;
	border: none;
	outline: none;
	width: 100%;
}

.search .header .header_container .form input:focus {
	outline: 2px solid blue;
}

.search .header .header_container .form button {
	padding: 0.6rem;
	border-radius: 8px;
	border: none;
	background-color: cadetblue;
}

.search .icons_container {
	padding: 1rem;
	background-color: var(--body-primary);
	display: flex;
	justify-content: end;
}

.search .icons {
	right: 2rem;
	display: flex;
	gap: 1rem;
}

.search .icons svg.active {
	color: #0096ff;
}

@media screen and (min-width: 576px) {
	.search .header {
		padding: 2rem 0 4rem 0;
	}

	.search .header .header_container .form {
		flex-direction: row;
	}
}

@media screen and (min-width: 768px) {
	.search .header .header_container {
		padding: 0 20vw;
	}
}

@media screen and (min-width: 992px) {
	.search .header .header_container {
		padding: 0 30vw;
	}
}
